@using webapp.Models
@model EmailMeModel

@{
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Nicholas R Johnson" content="Projects">
    <meta property="og:title" content="Nicholas R Johnson" />
    <meta property="og:site_name" content="Nicholas R Johnson." />
    <meta property="og:description" content="Nicholas R Johnson - Music Producer in Pittsburgh." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://www.nicholasrjohnson.com" />
    <meta property="og:image" content="assets/img/WebsiteHero.jpg" />
    <meta property="og:type" content="website" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.ico" />
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/chickent.png" color="#76a3fb">
    <meta name="msapplication-TileColor" content="#76a3fb">
    <meta name="google-site-verification" content="IKfOslUP52D3Qay_gbrA5rtWLUC2t3waF6RAQ6R737s" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/morphext.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Nicholas R Johnson - Music Producer and Artist</title>
</head>
<body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
    <div class="page-wrapper" id="page-top">
	<div class="loading-screen"></div>
        <header id="hero">
		
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active" href="#page-top">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#what-we-do">What I Do</a>
                            <a class="nav-item nav-link" href="#our-works">Producer</a>
                            <a class="nav-item nav-link" href="#the-team">Musical Artist</a>
                            <a class="nav-item nav-link" href="#about-us">About Me</a>
                            <a class="nav-item nav-link" href="https://blog.nicholasrjohnson.com">Blog</a>
                            <a class="nav-item nav-link" href="#contact">Contact</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="hero__outer-wrapper">
                        <div class="hero__inner-wrapper align-middle">
                            <h1>
                                <span class="hero__title">I Am a</span>
                                <a class="hero__title text-carousel" href="#our-works" >Music Producer, Engineer, Leader</a>
                                <br>
                                <span class="hero__title"> in Pittsburgh, Pennsylvania</span>
                            </h1>
                            <a href="#what-we-do" class="hero__link align-items-center">
                                <figure class="mb-0 align-middle"></figure>
                                Check It
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero__background skew-down-left">
                <div class="background-wrapper" data-parallax="scroll" data-parallax-speed="3" data-background-color="#000000" >
                    <div class="background opacity-90">
                        <div class="hero__slider parallax-element">
                            <div class="img-into-bg">
                                <img src="assets/img/WebsiteHero.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="content">
            <section class="pb-0 block" id="what-we-do">
                <div class="container"> 
                    <div class="block__title">
                        <h2 class="reveal">What I Do</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="box">
                                <div class="box__wrapper">
                                    <div class="box__header">
                                        <div class="box__image">
                                            <img src="assets/img/icon-desktop.png" class="" alt="">
                                        </div>
                                        <h4 class="reveal">Future Music</h4>
                                    </div>
                                    <div class="box__content">
                                        <p>
										<I>I Produce electronic music that is both original and captivating. Welcome to my world...</I>
										</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-0 block" id="our-works">
                <div class="container">
                    <div class="block__title">
                        <h2 class="reveal">Highlighted</h2>
			
			<p>
			Spring Rain - Debut album released in stores May 11th, 2025 
</p> 

<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=KYxdNEi14iQIZXWm&amp;list=PL_igKSn_UyLBp33BpaFToQ4At7SV0jUvF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</p>

<h4>
			New album coming out soon!!
</h4>			

			Check out more at <strong><a href="https://youtube.com/@@nicholasrjohnson" target="_blank">YouTube</a></strong> or <strong><a href="https://soundcloud.com/nicholasrjohnson">SoundCloud</a></strong>. 	
                       </p>
                    </div>
                </div>
                <div class="gallery skew-down-left skew-up-right">
                    <div class="container-fluid px-0">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <a href="https://youtu.be/qtq0phRNf7w" target="_blank" class="gallery__image open_popup_link">
                                    <div class="gallery__caption">
                                        <h5 class="reveal">Spring Rain</h5>
										<p>
										In this track, experience the calming beauty of raindrops
falling through blooming trees, soothing your soul and refreshing your spirit. 

										</p>
                                    </div>
									   <div class="img-into-bg">
                                        <img src="assets/img/colorblock2.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="https://youtu.be/Z1gKtnxnwIU" target="_blank" class="gallery__image open_popup_link">
                                    <div class="gallery__caption">
                                        <h5 class="reveal">Hard Pressed</h5>
										<p>
                                            A raw, emotional, and unfiltered journey through the weight of expectation, the grind of the hustle,

					     				</p>
                                    </div>
                                    <div class="img-into-bg">
                                        <img src="assets/img/colorblock1.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://youtu.be/HgK98d1Nn6M" target="_blank"class="gallery__image open_popup_link">
                                    <div class="gallery__caption">
                                        <h5 class="reveal">Bombs Away</h5>
										<p>
	                                        Get ready for the impact this is not a drill! It's beats dropping hard! 
										</p>
                                    </div>
                                    <div class="img-into-bg">
                                        <img src="assets/img/colorblock2.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://youtu.be/Ado_VKz_LK4" target="_blank" class="gallery__image open_popup_link">
                                    <div class="gallery__caption">
                                        <h5 class="reveal">This Present Darkness</h5>
							<p>
                                            Step into a realm where light is fleeting and shadows speak. This Present Darkness explores the 
                                            tension between struggle and hope, fear and faith, chaos and clarity.
										</p>
                                    </div>
                                    <div class="img-into-bg">
                                        <img src="assets/img/colorblock1.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://youtube.com/shorts/xXG6xroFjoc?feature=share" target="_blank" class="gallery__image open_popup_link">
                                    <div class="gallery__caption">
                                        <h5 class="reveal">Can't Hardly Breathe</h5>
                                        <p>
                                            For a long time I had panic attacks because I tried to find the one to love me and I was in a relationship 
                                            here I wasn't loved and I didn't even know it...maybe someday.
										</p>
                                    </div>
                                    <div class="img-into-bg">
                                        <img src="assets/img/colorblock2.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://youtu.be/1MDEh078QnQ" target="_blank" class="gallery__image open_popup_link">
                                    <div class="gallery__caption">
                                        <h5 class="reveal">Consistent Turmoil</h5>
                                        <p>
                                            This dives deep into the chaos that lives beneath the surface the mental, emotional, and spiritual battles we fight every day. 

										</p>
                                    </div>
                                    <div class="img-into-bg">
                                        <img src="assets/img/colorblock1.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-2 text-center">
                    <a href="https://youtube.com/@@nicholasrjohnson" class="btn btn-primary">Load More</a>
                </div>
            </section>
            <section class="pt-4 block" id="about-us">
                <div class="container">
                    <div class="block__wrapper">
                        <div class="block__title">
                            <h2 class="reveal">About Me</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <p>
                                  I have been producing electronic music since 2001. I was DJ Underside in Rochester, NY
                                  for a few years in college at RIT. I made a lot of different kinds of music. I produced for a 
                                  hip hop group called Barabbas for a time. I then was given the name Nikao or “overcomer”. But, now, I am simply Nick.
                                  I have thrown away all facades and just want to enjoy music. I hope you will enjoy also.
                                </p>
                                <a href="#contact" class="btn btn-default mb-4">Contact Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-4 block skew-down-left skew-up-right" id="the-team">
                <div class="container">
                    <div class="block__wrapper">
                        <div class="block__title">
							<h2 class="reveal">Profile</h2>
                        </div>
			        <div>
							<p>
                               Nicholas R Johnson doesn’t  produce one specific genre of electronic music…this is “future music”…raw emotion. 
                               The dynamic range is valued, and the work is not overcompressed. There I just too much over production nowadays 
                               that leaves music lifeless. Nicholas wants to invite you into his heart. 
	      					</p>

			</div>

		</div>
		</div>
<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="container text-center" text-align:center;">
        <div class="row">
                        <div class="row">
                            <div class="col">
                                <div class="person">
                                    <h4 class="reveal">Nicholas R Johnson</h4>
                                    <h5>Musical Artist</h5>
                                    <div class="person__image">
                                        <div class="img-into-bg">
                                            <img src="assets/img/nicholas.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-wrapper" data-background-color="#eeeeee">
                    <div class="background background--image opacity-5 background--repeat-repeat">
                        <img src="assets/img/pattern-topo.png" alt="">
                    </div>
                </div>
            </section>
  <!--          <section class="pt-4 block" id="blog">
                <div class="container">
                    <div class="block__wrapper">
                        <div class="block__title">
                            <a href="https://blog.nicholasrjohnson.com"><h2 class="reveal">Blog</h2></a>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <a href="https://blog.nicholasrjohnson.com/why-business-programming-is-hard-2" target="_blank" class="box box--image">
                                    <div class="box__wrapper no-shadow">
                                        <div class="box__header">
                                            <div class="box__image img-into-bg">
                                                <img src="assets/img/colorblock3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="box__content px-0">
                                            <h5>1.27.2024</h5>
                                            <h4 class="reveal">Why Business Programming is Hard</h4>
                                            <p class="mb-4">
There are many different kinds of software and how it is built and why, graphics programming, mathematical computation, artificial intelligence, big data, systems programming, games programming, just to name a few. But, the one I have been involved with for the past four years has been mostly business programming. I had been a coder for a long time before this. I thought... 
                                            </p>
                                            <div class="additional-info">
                                                <figure>
													4 Minute Read
											    </figure>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <a href="https://blog.nicholasrjohnson.com/flapping-switch-duplicate-mac-addresses" target="_blank" class="box box--image">
                                    <div class="box__wrapper no-shadow">
                                        <div class="box__header">
                                            <div class="box__image img-into-bg">
                                                <img src="assets/img/colorblock3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="box__content px-0">
                                            <h5>1.30.2024</h5>
                                            <h4 class="reveal">Flapping Switch - Duplicate MAC Addresses</h4>
                                            <p class="mb-4">
                                            Do you really think that there could be a duplicate MAC address if you use "macchanger" an your Linux machine? There are 248 possible 48 bit numbers and there is a limited number of those as MAC addresses, but it still is in the trillions, and the MAC addresses would be only scoped locally. I have thought about this before...< /p>
                                            <div class="additional-info">
                                                <figure>
													1 Minute Read
											    </figure>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <a href="https://blog.nicholasrjohnson.com/predicting-the-stock-market" target="_blank" class="box box--image">
                                    <div class="box__wrapper no-shadow">
                                        <div class="box__header">
                                            <div class="box__image img-into-bg">
                                                <img src="assets/img/colorblock3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="box__content px-0">
                                            <h5>1.31.2024</h5>
                                            <h4 class="reveal">Predicting the Stock Market</h4>
                                            <p class="mb-4">
There is a contest happening where programmers are attempting to predict the stock market with AI and machine learning. There is a score board for it, and people are getting better. It is kind of frightening. NumeraiThe hardest data science tournament on the planet. Build the world’s open hedge fund by modeling the stock market.Numerai It is insane that anyone...</p>
                                            <div class="additional-info">
                                                <figure>
													2 Minute Read
											    </figure>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                	<div class="my-2 text-center">
                    		<a href="https://blog.nicholasrjohnson.com" class="btn btn-primary">Load More</a>
			</div>
                        </div>
                    </div>
                </div>
            </section>
            -->
        </div>
        <footer id="footer" class="skew-up-right">
            <div class="container">
                <div class="block__wrapper">
                    <div class="block__title" id="contact">
                        <h2>Contact</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 col-lg-12">
                                    <h4>Locale</h4>
                                    <address>
                                        Pittsburgh, PA
                                        <br>
                                        United States
                                    </address>
                                </div>
                                <div class="col-sm-6 col-lg-12">
                                    <div class="py-4">
                                        <figure>
                                            <i class="fa fa-list width-20px"></i>
                                            <a href="assets/resources/NicholasRJohnson.docx">Resume</a>
                                        </figure>
                                        <figure>
                                            <i class="fa fa-facebook width-20px"></i>
                                            <a target="_blank" href="https://www.facebook.com/nicholasrobertjohnson">Facebook</a>
                                        </figure>
                                        <figure>
                                            <i class="fa fa-twitter width-20px"></i>
                                            <a target="_blank" href="https://www.twitter.com/nickrjohnson">Twitter</a>
                                        </figure>
                                        <figure>
                                            <i class="fa fa-linkedin width-20px"></i>
                                            <a target="_blank" href="https://www.linkedin.com/in/nicholasrobertjohnson">LinkedIn</a>
                                        </figure>
                                        <figure>
                                            <i class="fa fa-music width-20px"></i>
                                            <a target="_blank" href="https://www.soundcloud.com/nicholasrjohnson">Soundcloud</a>
                                        </figure>
                                        <figure>
                                            <i class="fa fa-newspaper-o" width-20px"></i>
                                            <a target="_blank" rel="me" href="https://youtube.com/@@nicholasrjohnson">YouTube</a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                            <h4>Contact</h4>

                            @using (Html.BeginForm("EmailMe", "Home", FormMethod.Post, new { id = "form", @class = "form clearfix" }))
                            {
                                @Html.HiddenFor(m => m.ValidSubmit, new { id = "validField" })
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="form-contact-name">Your Name</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "name", placeholder = "Your Name" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="form-contact-email">Your Email</label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "emailfield", placeholder = "Your Email" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form-contact-message">Your Message</label>
                                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = "8", id = "message", placeholder = "Your Message" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="m-1" id="captcha"></div>
                                    <button type="submit" class="btn pull-right btn-default" id="mailbutton" onclick="validSubmit();">Send a Message</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <hr class="hr-white opacity-10">
            <div class="container">
                <span>&#x00A9; Copyright @DateTime.Now.Year, All Rights Reserved</span>
            </div>
            <div class="background-wrapper" data-background-color="#000000">
                <div class="background background--particles"></div>
            </div>
        </footer>
    </div>
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/isInViewport.jquery.js"></script>
	<script src="assets/js/jquery.particleground.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script data-pace-options='{ "eventLag": false }'src="assets/js/pace.min.js"></script>
	<script src="assets/js/jquery.validate.min.js"></script>
	<script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>
	<script src="assets/js/morphext.min.js"></script>
	<script src="assets/js/custom.js"></script>
    </body>
</html>

    <script>
  var onloadCallback = function () {
    grecaptcha.render('captcha', {
      'sitekey': '6Lf7iSYiAAAAAHqdtprpV-ZWMrUZLKB6d00teb4e'
    });
  };

  function validSubmit() {
    var response = grecaptcha.getResponse();
    var valid = false;
    $("#validField").val(false);
    if (response.length && 
        $("#message").val() != '' &&
        $("#message").val() != null &&
        $("#message").val().length < 1000 &&
        $("#name").val().length < 100 &&
        $("#name").val() != '' &&
        $("#name").val() != null &&
        $("#emailfield").val() != '' &&
        $("#emailfield").val() != null &&
        $("#emailfield").val().length < 50 &&
        RegExp(/[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}/).test($('#emailfield').val())) 
    {
          valid = true;
          grecaptcha.reset();
          if (valid) {
             $("#validField").val(true);
          }
     }
    } 
    </script>
